include LICENSE
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include src/senaite/microorganism *
recursive-exclude src/senaite/microorganism *.pyc
recursive-exclude src/senaite/microorganism/locales/.tx *
